@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
body{
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height:100vh;
}

.main-container {  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1B244A;
    width: 575px;
    border: 5px solid #9AABD8;
    border-radius: 10px;
}
.title{
  width: 149px;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  color: #EEEEEE;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;

}
.current-score-container{
    width: 155px;
    height: 120px;
    background: #080001;
    font-family: 'Cursed Timer ULiL';
    color: #F94F6D;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Pirata One', cursive;
}
.increasing-points-container{
    display:flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.points-box{
   border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    font-size: 18px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Pirata One', cursive;
    
    
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background: #1B244A;
    color: #9AABD8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}